<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | relative_url }}">

    <link rel="shortcut icon" href="{{ "/favicon.ico?1" | relative_url }}">
    {% seo %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | absolute_url }}" />

<!-- Begin Random image function (Phong) -->
    <script type="text/javascript">
function randombg(){
  var bigSize = ["url('http://placehold.it/300&text=banner1')",
                 "url('http://placehold.it/300&text=banner2')",
                 "url('http://placehold.it/300&text=banner3')",
                 "url('http://placehold.it/300&text=banner4')",
                 "url('http://placehold.it/300&text=banner5')",
                 "url('http://placehold.it/300&text=banner6')"];
  var random= Math.floor(Math.random() * bigSize.length) + 0;
  document.getElementById("bkgrnd").style.backgroundImage=bigSize[random];
}
</script>
<!-- End Random image function (Phong) -->
</head>
