<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | relative_url }}">

    <link rel="shortcut icon" href="{{ "/favicon.ico?1" | relative_url }}">
    {% seo %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | absolute_url }}" />

<!-- Begin Random image function (Phong) -->
    <script type="text/javascript">
function randombg(){
  var bigSize = ["url('/assets/img/bg.jpg')",
                 "url('/assets/img/bg1.jpg')",
                 "url('/assets/img/bg2.jpg')",
                 "url('/assets/img/bg3.jpg')",
                 "url('/assets/img/bg4.jpg')",
                 "url('/assets/img/bg5.jpg')",
                 "url('/assets/img/bg6.jpg')",
                 "url('/assets/img/bg7.jpg')",
                 "url('/assets/img/bg8.jpg')",
                 "url('/assets/img/bg9.jpg')",
                 "url('/assets/img/bg10.jpg')"];
  var random= Math.floor(Math.random() * bigSize.length) + 0;
  document.getElementById("bkgrnd").style.backgroundImage=bigSize[random];
}
</script>
<!-- End Random image function (Phong) -->
</head>
