<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{ "/assets/img/logonav.png" | relative_url }}" alt="Logo"></span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.sectionid=='docs' %} class="active" {% endif %}><a href="{{ "/docs/iac/" | relative_url }}">Committees</a></li>
                <li {% if page.sectionid=='invitedspeakers' %} class="active" {% endif %}><a href="{{ "/invitedspeakers/" | relative_url }}">Invited Speakers</a></li>
		<li {% if page.sectionid=='venue' %} class="active" {% endif %}><a href="{{ "/venue/" | relative_url }}">Venue</a></li>
                <li {% if page.sectionid=='abstract' %} class="active" {% endif %}><a href="{{ "/abstract/" | relative_url }}">Abstract submission</a></li>
                <li {% if page.sectionid=='registration' %} class="active" {% endif %}><a href="{{ "/registration/" | relative_url }}">Registration</a></li>
                <li {% if page.sectionid=='circulars' %} class="active" {% endif %}><a href="{{ "/circulars/" | relative_url }}">Circulars</a></li>
                <li {% if page.sectionid=='excursions' %} class="active" {% endif %}><a href="{{ "/excursions/" | relative_url }}">Excursions</a></li>
		<li {% if page.sectionid=='blog' %} class="active" {% endif %}><a href="{{ site.posts.first.url | relative_url }}">News</a></li>
            </ul>
            
            <div class="navbar-right">
                <ul class="nav navbar-nav">

                </ul>            
            </div>
                    
        </div>
    </div>
</nav>
